@font-face {
  font-family: 'Jost';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    local('Jost Regular'),
    local('Jost-Regular'),
    url('Jost-Regular.woff2') format('woff2');
}
